/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */


.field{
  margin-left: 15px;
  width: 50%;
}
 .inline {
   display: flex;
   flex-flow: row nowrap;
   justify-content: left;
   align-content:left;
   align-items:left;
 }

 .row{
   margin-top:40px;
   padding: 0 10px;
}
.clickable{
   cursor: pointer;
}

.panel-heading div {
 margin-top: -18px;
 font-size: 15px;
}
.panel-heading div span{
 margin-left:5px;
}
.panel-body{
 display: none;
}

 body {
     padding-top: 65px;
 }

.TeamShowComponent{
  color: #7A7F82;
border: 3px solid white;
display: inline-block;
vertical-align: top;
position: relative;
text-align: center;
background-color: black;
height: 200px;
width: 340px;
padding: 10px;
z-index: 3;
}


.pie{
  align-items: right;
}

#myBar {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}
#myProgress {
    width: 50%;
    background-color: grey;
}


.progress_label{
  text-align: left;
  font-weight: bold;
}

.UserComponent{
color: #7A7F82;
border: 3px solid white;
display: top;
vertical-align: top;
text-align: left;
background-color: black;
height: 130%;
width: 80%;
margin: 5px;
padding: 10px;
z-index: 5;
position: absolute;

}
