// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.inline {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-content:left;
  align-items:left;
}
.item{
  margin: 0.25em auto;
vertical-align: top;
// border: 1px solid;
display: inline-block;
width: 33.3333%;
float: left;
}

.button{
background-color: #008CBA;
  color: white;
}
