<h1>Compose Email</h1>

<div class='add-email-form'>
  <br />
  <%= form_for [@lead, @email]  do |f| %>
    <div class= 'required-fields'>
        <div class="email-subject">
        <% f.label :subject %>
        <%= f.text_field :subject, placeholder: "Email Subject" %><br/>
        </div>
        <div class="email-body">
        <% f.label :body %>
        <%= f.text_area :body, placeholder: "Email Body" %><br/>
        </div>
      <div>
        <% f.submit %>
        <button class="button">Send Email </button>
      </div>
  <% end %>
</div>
